[submodule "Algorithms/Graph/Algorithms/Graph/googletest"]
	path = Algorithms/Graph/Algorithms/Graph/googletest
	url = https://github.com/google/googletest.git
[submodule "Algorithms/Graph/googletest"]
	path = Algorithms/Graph/googletest
	url = https://github.com/google/googletest.git
